{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header">会员注册</div>
    <div class="card-body">
        <form id="form-data">
            <div class="form-group">
                <label>昵称</label>
                {% raw xsrf_form_html() %}
                <input type="text"
                       class="form-control form-width"
                       name="name"
                       placeholder="请输入账号！">
                <p class="text-danger" id="error_name"></p>
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password"
                       class="form-control form-width"
                       name="pwd"
                       placeholder="请输入密码！">
                <p class="text-danger" id="error_pwd"></p>
            </div>
            <div class="form-group">
                <label>确认密码</label>
                <input type="password"
                       class="form-control form-width"
                       name="repwd"
                       placeholder="请输入确认密码！">
                <p class="text-danger" id="error_repwd"></p>
            </div>
            <div class="form-group">
                <label>邮箱</label>
                <input type="email"
                       class="form-control form-width"
                       name="email"
                       placeholder="请输入邮箱！">
                <p class="text-danger" id="error_email"></p>
            </div>
            <div class="form-group">
                <label>手机号码</label>
                <input type="text"
                       class="form-control form-width"
                       name="phone"
                       placeholder="请输入手机号码！">
                <p class="text-danger" id="error_phone"></p>
            </div>
            <div class="form-group">
                <a href="javascript:void(0);" id="btn-sub" class="btn btn-primary">注册</a>
            </div>
        </form>
    </div>
</div>
{% end %}

{% block foot %}
<script>
    $(document).ready(function () {
        request('/regist/', '/login/', ['name', 'pwd', 'repwd', 'email', 'phone'], '注册成功!');
    });
</script>
{% end %}